// Base site styles
@import 'base';

// Import bootstrap
@import '~bootstrap/scss/bootstrap';

html, body
{
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

// Admin alert
.swal2-title, .swal2-html-container
{
    color: $white;
}

.swal2-html-container
{
    font-size: 1.5em;
    padding: 2.5px;
    padding-top: 25px;

    @media only screen and (max-width: 576px)
    {
        font-size: 1em;
    }
}

.swal2-title
{
    font-size: 3em;

    @media only screen and (max-width: 576px)
    {
        font-size: 1.5em;
    }
}

.swal2-actions
{
    margin-bottom: 10%;

    @media only screen and (max-width: 576px)
    {
        margin-bottom: 5%;
    }
}

.swal2-modal
{
    background-color: $dark-grey;
}

// Background
.background
{
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    opacity: 75%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

// KV-file input
.kv-fileinput-caption
{
    color: $white;
    margin-right: 1.25%;
}

.file-caption-info, .file-size-info, .kv-file-remove
{
    color: $white;
}


// This handles keeping everything else in front of the background for opacity reasons
.background-z-index
{
    position: relative;
    z-index: 10;
}

// Navbar logo
#logo
{
    max-height: 5vh;
}

// Right float login/logout buttons
.auth-div
{
    margin-right: 1%;
    min-width: 10%;

    @media only screen and (max-width: 992px)
    {
        min-width: 20%;
    }

    @media only screen and (max-width: 576px)
    {
        min-width: 30%;
    }

    a, button
    {
        width: 100%;

        @media only screen and (max-width: 992px)
        {
            padding: 0;
        }
    }

    &:hover > .auth-hover-hide
    {
        display: none;
    }

    &:hover > form > .auth-hover-hide
    {
        display: none;
    }

    .auth-hover-show
    {
        display: none;
    }

    &:hover > .auth-hover-show
    {
        display: block;
    }

    &:hover > form > .auth-hover-show
    {
        display: block;
    }
}

.top-nav
{
    z-index: 20;

    .card-header
    {
        padding: 0;
    }

    &.outline
    {
        border: 4px solid $dark-grey;
        border-radius: 10px;
        box-sizing: border-box;
        height: 7.5vh;
    }
}

.side-nav
{
    border-radius: 15px;
    height: 80vh;

    &.outline
    {
        border: 4px solid $dark-grey;
        box-sizing: border-box;
    }

    @media only screen and (max-width: 768px)
    {
        height: 70vh;
    }

    @media only screen and (max-height: 730px)
    {
        height: 65vh;
    }

    @media only screen and (max-height: 610px)
    {
        height: 60vh;
    }
}

.action-nav
{
    padding: 15px;
    padding-top: 0;
    overflow-y: hidden;

    .nav-link
    {
        border-bottom: 3px solid $light-grey;
        border-top: 3px solid $light-grey;
        border-radius: 15px;
        color: $white;
        width: 100%;

        p
        {
            display: inline-block;
            margin: 0;
            text-align: center;
        }

        &:hover
        {
            background-color: rgba(146, 157, 156, .25); // Matches $light-grey
            border-radius: 30px;
        }
    }
}

.panel
{
    border-radius: 15px;

    &.full-height
    {
        height: 80vh;

        @media only screen and (max-width: 768px)
        {
            height: 70vh;
        }

        @media only screen and (max-height: 730px)
        {
            height: 65vh;
        }

        @media only screen and (max-height: 610px)
        {
            height: 60vh;
        }
    }

    &.scroll
    {
        overflow-y: scroll;

        // Scrollbars
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar
        {
            display: none;
        }
    }

    &.placeholder
    {
        border: 4px solid $dark-grey;
        box-sizing: border-box;
    }
}

.copywrite
{
    position: relative;
    z-index: 10;

    p
    {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}

.home-header
{
    background-color: rgba(146, 157, 156, .7);
    border: 4px solid $dark-grey;
    border-radius: 25px;
    font-size: 5em !important;
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
    text-shadow: 2px 2px black;
    width: 90%;

    @media only screen and (max-width: 500px)
    {
        font-size: 4em !important;
        margin-bottom: 0;
    }

    @media only screen and (max-width: 375px)
    {
        font-size: 3em !important;
    }
}
